name: 定时同步上游
on:
  workflow_dispatch:  # 手动触发
  schedule:
    - cron: '0 3 */7 * *'  # 每天 UTC 3:00 
permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: 检出
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # 获取完整 Git 历史
          token: ${{ secrets.MYTOKEN }}
      - name: 合并
        run: |
          # 添加上游仓库（允许已存在）
          git remote add upstream https://github.com/cmliu/edgetunnel.git || true
          # 设置提交者信息
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          # 拉取上游变更
          git fetch upstream
          git checkout main
          git merge upstream/main || true
          # 恢复要保留的文件和目录
          git checkout HEAD -- .github/workflows/sync.yml
          git checkout HEAD -- wrangler.toml
          # 提交更改
          git add -A
          git commit -m "自动合并上游" || echo "没有需要提交的更改"
          # 推送到你的 fork 的 main 分支
          # git push origin main
          git push "https://${{ secrets.MYTOKEN }}@github.com/${{ github.repository }}.git" main
      - name: 清理工作流
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ secrets.MYPAT }}
          repository: ${{ github.repository }}
          retain_days: 0
          keep_minimum_runs: 1
